numpy
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.6.0+cu126
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.21.0+cu126
opencv-python
onnx
onnxruntime-gpu
mxnet==1.2.0
scikit-image
insightface==0.2.1
requests
kornia
dill
wandb